<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            {% if app.user %}
                <div id="navcontainer">
                    <ul id="navlist">
                        <li><a href="/{{ url('homepage',[],true) }}">Home</a></li>
                        <li><a href="/{{ url('bro_mail_produce',[],true) }}">Send email via Rabbit</a></li>
                        <li><a href="/{{ url('bro_mail_direct',[],true) }}">Send direct email</a></li>
                        <li><a href="/{{ url('logout',[],true) }}">Logout</a></li>
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
        {% block flash %}
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}<script src="{{ asset('build/app.js') }}"></script>{% endblock %}
    </body>
</html>
